body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
    text-shadow: 2px 2px black;
    background-image: url("./images/disneyland.jpg");
    background-size: 110%;
    background-repeat: no-repeat;
    background-color: black;

}

.gameTop, .gameBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.resultTop, .scoreBottom, .endGame{
  display: flex;
  align-items: center;
  justify-content: center;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 700px;
}

button {
  font-size: 50px;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: end;
  border-color: white;
  transition: all .07s ease;
}

#rock {
  background-image: url("./images/rock.png");
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  background-color: black;
  display: flex;
}

#paper {
  background-image: url("./images/paper.png");
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  background-color: black;
  display: flex;
}

#scissor {
  background-image: url("./images/scissor.png");
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  background-color: black;
  display: flex;
}

  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }

  h1 {
    font-size: 50px;
    font-weight: bold;
    height: 40px;
  }

  .mouseSadSticker {
    background-image: url("./images/sad.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    background-color: black;
    margin: auto;
  }

  .mouseHappySticker {
    background-image: url("./images/happy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: auto;
  }

  .playAgain {
    font-size: 30px;
    color: black;
    background-color: orange;
    height: 50px;
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(29, 29, 29);
  }